 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    z-index: 1; /* Stay on top */
    background-color: #111; /* Black*/
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    position: fixed;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: red;
}

figure {
    float: left;
    font-size: 12px;
    border: 1px solid black;
    padding: 20px; 
    margin: 5px;
    text-align: center;
    width: 270px;
    height: 270px;
    overflow: hidden;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.white{
    color: white;
}

/*html, body {margin: 0; height: 100%; overflow: hidden}*/

#leftArrow {
    position:fixed;
    top: 50%;
    left: 0;
}

#rightArrow {
    position:fixed;
    top: 50%;
    right: 0;
}