 /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    z-index: 1; /* Stay on top */
    background-color: grey;
    position: fixed;
}
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.group-list {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 24px;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover{
    color: darkblue;
}

figure {
    float: left;
    font-size: 12px;
    border: 1px solid black;
    padding: 20px; 
    margin: 5px;
    text-align: center;
    width: 270px;
    height: 270px;
    overflow: hidden;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.white{
    color: white;
}

html, body {margin: 0; padding: 0px; height: 100%; overflow: hidden}

body {
    padding-top: 64px;
}

#leftArrow {
    position:fixed;
    top: 50%;
    left: 0;
}

#rightArrow {
    position:fixed;
    top: 50%;
    right: 0;
}

.chat {
    position: fixed;
    bottom: 0px;
    margin-bottom: 0px;
}

.chat-text {
    padding: 0.5rem;
    border-radius: 1.25rem;
}

.chat-heading {
    border-bottom: 1px solid rgba(0,0,0,.125);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#create-title {
    padding-bottom: 250px;
}

.group-title a:link, .group-title a:visited{
    color: lightgreen;
}

.group-title a:hover{
    color: green;
}
