<div class="card-deck-wrapper">
  <div class="card-deck">
    <div class="card group-list">
      <div class="card-block">
        <h4 class="card-title">Group 1</h4>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Hugh Jazz</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Rob Williams</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Lisa Peters</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Ronda Smith</a>
      </div>
    </div>
    <div class="card group-list">
      <div class="card-block">
        <h4 class="card-title">Group 2</h4>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Bill Murry</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> John Williams</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Hugh Jazz</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Rob Williams</a>
      </div>
    </div>
    <div class="card group-list">
      <div class="card-block">
        <h4 class="card-title">Group 3</h4>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Hugh Jazz</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Rob Williams</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Lisa Peters</a>
            <a href=""><i class="fa fa-user fa-2x" aria-hidden="true"></i> Ronda Smith</a>
      </div>
    </div>
  </div>
</div>