<a href="#/posts2" onclick="flickr.getInteresting(view.displayThumb);"><i class="fa fa-arrow-right fa-2x" id="rightArrow" aria-hidden="true"></i></a>
<div id="thumbnails" class="card-columns">
    <div class="card">
        <div class="card-block">
            <h4 id="create-title" class="card-title d-inline">Create a Post</h4>
            <i class="fa fa-paperclip fa-2x float-xs-right" aria-hidden="true"></i>
            </div>
        <div class="card-block">
            <form class="input-group">
                <input type="text" id="" class="form-control" placeholder="Write a post...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-success" type="submit">Post</button>
                </span>
            </form>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC01049.JPG" alt="City View">
        <div class="card-block">
            <h4 class="card-title d-inline">City View</h4>
            <i class="fa fa-thumbs-o-up fa-2x float-xs-right d-inline" aria-hidden="true"></i>
            <div class="input-group card-block">
              <input type="text" class="form-control" placeholder="Write a comment...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
              </span>
            </div>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC01066.JPG" alt="Ferris Wheel">
        <div class="card-block">
            <h4 class="card-title">Ferris Wheel</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC02511.jpg" alt="A building in the forbidden city">
        <div class="card-block">
            <h4 class="card-title">A building in the forbidden city</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC03810.jpg" alt="City from Mt Gravett look out">
        <div class="card-block">
            <h4 class="card-title">City from Mt Gravett look out</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC05750.jpg" alt="Sun rise">
        <div class="card-block">
            <h4 class="card-title">Sun rise</h4>
        </div>
    </div>
</div>