<div id="thumbnails" class="card-columns">
    <div class="card">
        <div class="card-block text-xs-center">
            <h4 class="card-title">Create a Post</h4>
            <i class="fa fa-plus-square-o fa-5x" aria-hidden="true"></i>
            <form class="form-inline float-xs-right"><input class="form-control" type="text" placeholder="Write you post here">
                <button class="btn btn-outline-success" type="submit">Create</button>
            </form>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC01049.JPG" alt="City View">
        <div class="card-block">
            <h4 class="card-title">City View</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC01066.JPG" alt="Ferris Wheel">
        <div class="card-block">
            <h4 class="card-title">Ferris Wheel</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC02511.jpg" alt="A building in the forbidden city">
        <div class="card-block">
            <h4 class="card-title">A building in the forbidden city</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC03810.jpg" alt="City from Mt Gravett look out">
        <div class="card-block">
            <h4 class="card-title">City from Mt Gravett look out</h4>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="photos/DSC05750.jpg" alt="Sun rise">
        <div class="card-block">
            <h4 class="card-title">Sun rise</h4>
        </div>
    </div>
</div>