<div id="thumbnails">
    <figure>
        <a href="photos/DSC01049.JPG" data-lightbox="image-1" data-title="City View">
            <img class="" src="photos/DSC01049.JPG" alt="City View" height="200" width="200">
        </a>
        <figcaption>City View</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC01066.JPG" data-lightbox="image-1" data-title="Ferris Wheel">
            <img src="photos/DSC01066.JPG" alt="Ferris Wheel" height="200" width="200">
        </a>
        <figcaption>Ferris Wheel</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC02511.jpg" data-lightbox="image-1" data-title="A building in the forbidden city">
            <img src="photos/DSC02511.jpg" alt="A building in the forbidden city" height="200" width="200">
        </a>
        <figcaption>A Building in the forbidden city with extra long text</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC03810.jpg" data-lightbox="image-1" data-title="City from Mt Gravett look out">
            <img src="photos/DSC03810.jpg" alt="City from Mt Gravett look out" height="200" width="200">
        </a>
        <figcaption>City from Mt Gravett look out</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC05750.jpg" data-lightbox="image-1" data-title="Sun rise">
            <img src="photos/DSC05750.jpg" alt="Sun rise" height="200" width="200">
        </a>
        <figcaption>Sun rise</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC01049.JPG" data-lightbox="image-1" data-title="City View">
            <img class="" src="photos/DSC01049.JPG" alt="City View" height="200" width="200">
        </a>
        <figcaption>City View</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC01066.JPG" data-lightbox="image-1" data-title="Ferris Wheel">
            <img src="photos/DSC01066.JPG" alt="Ferris Wheel" height="200" width="200">
        </a>
        <figcaption>Ferris Wheel</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC02511.jpg" data-lightbox="image-1" data-title="A building in the forbidden city">
            <img src="photos/DSC02511.jpg" alt="A building in the forbidden city" height="200" width="200">
        </a>
        <figcaption>A Building in the forbidden city with extra long text</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC03810.jpg" data-lightbox="image-1" data-title="City from Mt Gravett look out">
            <img src="photos/DSC03810.jpg" alt="City from Mt Gravett look out" height="200" width="200">
        </a>
        <figcaption>City from Mt Gravett look out</figcaption>
    </figure>
    <figure>
        <a href="photos/DSC05750.jpg" data-lightbox="image-1" data-title="Sun rise">
            <img src="photos/DSC05750.jpg" alt="Sun rise" height="200" width="200">
        </a>
        <figcaption>Sun rise</figcaption>
    </figure>
</div>