<div class="col-sm-1">
    <a href="#/home" onclick="flickr.getInteresting(view.displayThumb);"><i class="fa fa-arrow-left fa-2x" id="leftArrow" aria-hidden="true"></i></a>
</div>

<div id="thumbnails" class="col-sm-10">
    <div class="card">
        <div class="card-block">
            <h4 id="create-title" class="card-title d-inline">Create a Post</h4>
            <i class="fa fa-paperclip fa-2x float-xs-right" aria-hidden="true"></i>
            </div>
        <div class="card-block">
            <form class="input-group">
                <input type="text" id="" class="form-control" placeholder="Write a post...">
                <span class="input-group-btn">
                    <button class="btn btn-outline-success" type="submit">Post</button>
                </span>
            </form>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title d-inline">City from Mt Gravett look out</h4>
            <i class="fa fa-chevron-down fa-2x d-inline float-xs-right" aria-hidden="true"></i>
        </div>
        <img class="card-img-top img-fluid" src="photos/DSC03810.jpg" alt="City from Mt Gravett look out">
        <div class="card-block">
            <i class="fa fa-thumbs-o-up fa-2x d-inline" aria-hidden="true"></i>
            <i class="fa fa-commenting-o fa-2x d-inline float-xs-right" aria-hidden="true"></i>
        </div>
    </div>
    <div class="card">
        <div class="card-block">
            <h4 class="card-title d-inline">Sun rise</h4>
            <i class="fa fa-chevron-down fa-2x d-inline float-xs-right" aria-hidden="true"></i>
        </div>
        <img class="card-img-top img-fluid" src="photos/DSC05750.jpg" alt="Sun rise">
        <div class="card-block">
            <i class="fa fa-thumbs-o-up fa-2x d-inline" aria-hidden="true"></i>
            <i class="fa fa-commenting-o fa-2x d-inline float-xs-right" aria-hidden="true"></i>
        </div>
    </div>
</div>